<main>
  <div class="min-w-screen min-h-screen bg-gray-400 flex items-center justify-center px-5 py-5">
    <div class="w-full mx-auto rounded-xl shadow-xl text-gray-800 relative overflow-hidden" style="max-width: 500px">
      <img src="" alt="">
        <h1 class="text-center text-black-900 bg-gray-50 py-10 text-3xl font-bold">Angular Calculator</h1>
        <!-- CALCULATOR SCREEN -->
        <div class="w-full h-40 bg-slate-900 text-right">
          <!-- FUNCTION SCREEN -->
          <div class="w-full py-5 px-6 text-xl text-white font-thin">
            {{currentOperator}}
          </div>
          <!-- END FUNCTION SCREEN -->
          <!-- NUMBER SCREEN -->
          <div class="w-full py-5 px-6 text-6xl text-white font-thin">
            {{displayValue | number}}
          </div>
          <!-- END NUMBER SCREEN -->
        </div>
        <!-- CALCULATOR SCREEN -->
        <!-- CALCULATOR BUTTON AREA -->
        <div class="w-full">
          <!-- FIRST BUTTON ROW -->
          <div class="flex w-full">
            <!-- CLEAR BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-800 w-full h-16 outline-none focus:outline-none hover:bg-slate-700 text-xl text-red-500" (click)="handleButtonClick('ac', 'operator')"> AC </button>
            </div>
            <!-- END CLEAR BUTTON -->
            <!-- PORCENTAGE BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-800 w-full h-16 outline-none focus:outline-none hover:bg-slate-700 text-xl text-red-500" (click)="handleButtonClick('%', 'operator')"> % </button>
            </div>
            <!-- END PORCENTAGE BUTTON -->
            <!-- DIVISION BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-800 w-full h-16 outline-none focus:outline-none hover:bg-slate-700 text-xl text-red-500" (click)="handleButtonClick('/', 'operator')"> / </button>
            </div>
            <!-- END DIVISION BUTTON -->
            <!-- MULTIPLICATION BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-800 w-full h-16 outline-none focus:outline-none hover:bg-slate-700 text-xl text-red-500" (click)="handleButtonClick('*', 'operator')"> * </button>
            </div>
            <!-- END MULTIPLICATION BUTTON -->
          </div>
          <!-- END FIRST BUTTON ROW -->
          <!-- SECOND BUTTON ROW -->
          <div class="flex w-full">
            <!-- NUMBER 7 BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-900 w-full h-16 outline-none focus:outline-none hover:bg-slate-800 text-xl text-white" (click)="handleButtonClick('7', 'number')"> 7 </button>
            </div>
            <!-- END NUMBER 7 BUTTON -->
            <!-- NUMBER 8 BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-900 w-full h-16 outline-none focus:outline-none hover:bg-slate-800 text-xl text-white" (click)="handleButtonClick('8', 'number')"> 8 </button>
            </div>
            <!-- END NUMBER 8 BUTTON -->
            <!-- NUMBER 9 BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-900 w-full h-16 outline-none focus:outline-none hover:bg-slate-800 text-xl text-white" (click)="handleButtonClick('9', 'number')"> 9 </button>
            </div>
            <!-- END NUMBER 9 BUTTON -->
            <!-- MINUS BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-800 w-full h-16 outline-none focus:outline-none hover:bg-slate-700 text-xl text-red-500" (click)="handleButtonClick('-', 'operator')"> - </button>
            </div>
            <!-- END MINUS BUTTON -->
          </div>
          <!-- END SECOND BUTTON ROW -->
          <!-- THIRD BUTTON ROW -->
          <div class="flex w-full">
            <!-- NUMBER 4 BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-900 w-full h-16 outline-none focus:outline-none hover:bg-slate-800 text-xl text-white" (click)="handleButtonClick('4', 'number')"> 4 </button>
            </div>
            <!-- END NUMBER 4 BUTTON -->
            <!-- NUMBER 5 BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-900 w-full h-16 outline-none focus:outline-none hover:bg-slate-800 text-xl text-white" (click)="handleButtonClick('5', 'number')"> 5 </button>
            </div>
            <!-- END NUMBER 5 BUTTON -->
            <!-- NUMBER 6 BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-900 w-full h-16 outline-none focus:outline-none hover:bg-slate-800 text-xl text-white" (click)="handleButtonClick('6', 'number')"> 6 </button>
            </div>
            <!-- END NUMBER 6 BUTTON -->
            <!-- PLUS BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-800 w-full h-16 outline-none focus:outline-none hover:bg-slate-700 text-xl text-red-500" (click)="handleButtonClick('+', 'operator')"> + </button>
            </div>
            <!-- END PLUS BUTTON -->
          </div>
          <!-- END THIRD BUTTON ROW -->
          <!-- FOURTH BUTTON ROW -->
          <div class="flex w-full">
            <!-- NUMBER 1 BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-900 w-full h-16 outline-none focus:outline-none hover:bg-slate-800 text-xl text-white" (click)="handleButtonClick('1', 'number')"> 1 </button>
            </div>
            <!-- END NUMBER 1 BUTTON -->
            <!-- NUMBER 2 BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-900 w-full h-16 outline-none focus:outline-none hover:bg-slate-800 text-xl text-white" (click)="handleButtonClick('2', 'number')"> 2 </button>
            </div>
            <!-- END NUMBER 2 BUTTON -->
            <!-- NUMBER 3 BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-900 w-full h-16 outline-none focus:outline-none hover:bg-slate-800 text-xl text-white" (click)="handleButtonClick('3', 'number')"> 3 </button>
            </div>
            <!-- END NUMBER 3 BUTTON -->
            <!-- BACKSPACE BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-800 w-full h-16 outline-none focus:outline-none hover:bg-slate-700 text-xl text-red-500" (click)="handleBackspaceClick()">←</button>
            </div>
            <!-- END BACKSPACE BUTTON -->
          </div>
          <!-- END FOURTH BUTTON ROW -->
          <!-- FIFTH BUTTON ROW -->
          <div class="flex w-full">
            <!-- NUMBER 0 BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-900 w-full h-16 outline-none focus:outline-none hover:bg-slate-800 text-xl text-white" (click)="handleButtonClick('0', 'number')"> 0 </button>
            </div>
            <!-- END NUMBER 0 BUTTON -->
            <!-- DECIMAL BUTTON -->
            <div class="w-1/4 border-r border-b border-slate-500">
              <button class="bg-slate-900 w-full h-16 outline-none focus:outline-none hover:bg-slate-800 text-xl text-white" (click)="handleButtonClick('.', 'number')"> . </button>
            </div>
            <!-- END DECIMAL BUTTON -->
            <!-- EQUAL BUTTON -->
            <div class="w-2/4 border-r border-b border-slate-500">
              <button class="bg-red-600 w-full h-16 outline-none focus:outline-none hover:bg-red-700 text-xl text-white" (click)="handleButtonClick('=', 'operator')"> = </button>
            </div>
            <!-- END EQUAL BUTTON -->
          </div>
          <!-- END FIFTH BUTTON ROW -->
        </div>
        <!-- END CALCULATOR BUTTON AREA -->
    </div>
  </div>
  <router-outlet></router-outlet>
</main>